ServerCore/Server/obj/Debug/netcoreapp3.1
ServerCore/.vs
ServerCore/DummyClient/obj/Debug/netcoreapp3.1
ServerCore/DummyClient/obj
ServerCore/PacketGenerator/obj/Debug
ServerCore/PacketGenerator/obj
ServerCore/Server/obj/Debug/netcoreapp3.1
ServerCore/Server/obj
ServerCore/ServerCore/obj/Debug/netcoreapp3.1
ServerCore/ServerCore/obj
ServerCore/Client/Temp
ServerCore/Client/Logs
ServerCore/Client/Library
ServerCore/Server/bin/Debug
ServerCore/Client/.vs/Client/v16
ServerCore/Client/obj/Debug
